[Unit]
Description=Make the control-key act as an escape-key

[Service]
Type=simple
ExecStart=/usr/local/bin/evcape

[Install]
WantedBy=multi-user.target

