[Unit]
Description=Make the control-key act as an escape-key
After=gdm.service

[Service]
ExecStart=/usr/local/bin/evcape

[Install]
WantedBy=graphical.target
Alias=evcape.service

